# TCTBot YAML Config File
---
# Twitter Configuration
:twitter:
  :username: MyTwitterName
  :consumer_key: API_KEY
  :consumer_secret: API_SECRET
  :access_token: ACCESS_TOKEN
  :access_token_secret: ACCESS_TOKEN_SECRET
# Cryptomnio Configuration
:cryptomnio:
  :apiurl: https://api.my-username-uat.cryptomnio.com
  :username: user
  :password: pass
  :apikeys:
  - :exchange: bitstamp
    :key: BITSTAMP_API_KEY
    :secret: BITSTAMP_API_SECRET
    :clientid: '12345'
